.roomGrid{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1vw;
  margin: 1vw 0;
}


#sideMenuHeader{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 1vw;
}

#avatarUser{
  text-align: center;
}

#header{
  height: 8vh;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20vw;
  justify-content: stretch;
  padding: 1vh;
}

#room{
  height: 90vh;
  max-height: 90vh;
}

#board{
  border: solid lightgray 0.1vw;
}

/* #sideMenu{
  border: solid lightgray 0.1vw;
  display: grid;
  grid-template-rows: 0.7fr 1fr 0.3fr 0.3fr 0.3fr;
  grid-gap: 0.5vw;
} */

#sideMenu img{
  height: 10vh;
}

#home{
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-gap: 1vh;
  margin: 1vh;
  height: 90vh;
  z-index: 0;
}

/* #createRoom{
  height: 7vh;
  margin-top: 1vh;
} */

#userInfo{
  padding: 1vh;
}

#top10{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  margin: 1vw;
  grid-gap: 2vw;
}

.tag{
  background-color: lightslategray;
}
.roomResult{
  text-align: center;
  background-color: rgb(245, 197, 204);
}
.roomResult img {
  width : 100%;
}

#userActions{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10vw;
}

#createRoomPopUp{
  width: 75vw;
  height: 75vh;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>* {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

input[type=radio]{
  border: 1px solid transparent;
  box-shadow: 0 0 3px 3px transparent;
  margin: 20px;
}

input[disabled] + label>* {
  filter: grayscale(100%);
}

#avatarsImg{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.1vh;
}

body{
  margin:0 9vw;
}

@media(max-width: 1600px){
  body{
    margin: 0;
  }
}
@media(max-width: 768px) {
  body{
    margin: 0;
  }
  #top10{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vh;
  }
}
